@font-face {
  font-family: outfit-regular;
  src: url(../outfit/Outfit-Regular.ttf);
}
@font-face {
  font-family: outfit-medium;
  src: url(../outfit/Outfit-Medium.ttf);
}
@font-face {
  font-family: outfit-semibold;
  src: url(../outfit/Outfit-SemiBold.ttf);
}
@font-face {
  font-family: outfit-black;
  src: url(../outfit/Outfit-Black.ttf);
}
@font-face {
  font-family: rift-regular;
  src: url(../rift/Rift-Regular.otf);
}
nav {
  background-color: #11161e;
}
nav li a {
  font-family: outfit-medium;
  font-size: 16px;
  color: #fff !important;
}

.home {
  background-color: #f3f3f4;
  padding: 100px 0px;
  overflow: hidden;
}
.home h6 {
  font-family: rift-regular;
  font-size: 32px;
  font-weight: 400;
  color: #bd8a32;
}
.home h1 {
  font-family: rift-regular;
  font-size: 80px;
  font-weight: 700;
  color: #282a37;
}
.home p {
  font-size: 18px;
  font-family: outfit-regular;
  font-weight: 400;
  color: #4f4f4f;
}
.home button {
  background-color: #bd8a32;
  font-size: 18px;
  font-family: 16px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.home button a {
  text-decoration: none;
  color: white;
  font-family: 16px;
  font-weight: 500;
}

@media (max-width: 756px) {
  .home h6 {
    font-family: rift-regular;
    font-size: 22px;
    font-weight: 400;
    color: #bd8a32;
  }
  .home h1 {
    font-family: rift-regular;
    font-size: 46px;
    font-weight: 700;
    color: #282a37;
  }
}
.about {
  padding: 40px 0px;
  overflow: hidden;
}
.about h6 {
  font-size: 20px;
  font-family: rift-regular;
  font-weight: 600;
  color: #bd8a32;
}
.about h1 {
  font-size: 80px;
  font-family: rift-regular;
  color: #4f4f4f;
  font-weight: 600;
}
.about .col-lg-5 {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.about .col-lg-5 button {
  background-color: #bd8a32;
  font-size: 18px;
  font-family: 16px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.about .col-lg-5 button a {
  text-decoration: none;
  color: white;
  font-family: 16px;
  font-weight: 500;
}
.about .col-lg-5 p {
  font-size: 18px;
  font-family: outfit-regular;
  font-weight: 400;
  color: #4f4f4f;
}

@media (max-width: 756px) {
  .about h1 {
    font-size: 42px;
    font-family: rift-regular;
    color: #4f4f4f;
    font-weight: 600;
  }
}
.why {
  padding: 20px 0px;
}
.why .col_box {
  background-color: #282a37;
  padding: 30px 20px;
  height: 100%;
}
.why .col_box h3 {
  font-family: rift-regular;
  color: white;
  font-weight: 600;
  font-size: 40px;
}
.why .col_box p {
  font-family: 18px;
  color: white;
}

.stream {
  background-color: #282a37;
  padding: 50px 0px;
  overflow: hidden;
}
.stream h2 {
  font-size: 40px;
  color: white;
  font-family: rift-regular;
}
.stream button {
  background-color: #bd8a32;
  font-size: 18px;
  font-family: 16px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.stream button a {
  text-decoration: none;
  color: white;
  font-family: 16px;
  font-weight: 500;
}

.price {
  background-color: #f3f3f4;
  padding: 40px 0px;
  overflow: hidden;
}
.price h1 {
  font-size: 80px;
  font-family: rift-regular;
  text-align: center;
  font-weight: 600;
}
.price .col_box {
  background-color: #282a37;
  padding: 40px 20px;
  border-radius: 30px;
  height: 100%;
}
.price .col_box h2 {
  font-size: 40px;
  font-weight: 700;
  font-family: rift-regular;
  color: white;
}
.price .col_box span {
  font-size: 50px;
  color: #bd8a32;
}
.price .col_box p {
  font-size: 18px;
  font-family: outfit-regular;
  font-weight: 600;
  color: white;
}
.price .col_box li {
  list-style: none;
  padding: 10px 0px;
}
.price .col_box button {
  background-color: #bd8a32;
  font-size: 18px;
  font-family: 16px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.price .col_box button a {
  text-decoration: none;
  color: white;
  font-family: 16px;
  font-weight: 500;
}

.contact {
  background-color: #282a37;
  padding: 40px 0px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  overflow: hidden;
}
.contact h1 {
  font-size: 80px;
  color: #bd8a32;
  font-family: rift-regular;
  font-family: 600;
}
.contact h5 {
  font-family: rift-regular;
  font-size: 40px;
  color: white;
  font-family: rift-regular;
  width: 80%;
  font-weight: 600;
}
.contact h5 span {
  color: #bd8a32;
}
.contact p {
  font-family: outfit-regular;
  font-size: 18px;
  color: white;
  width: 80%;
}
.contact .form_box {
  background-color: #fff;
  padding: 50px;
  border-radius: 50px;
}
.contact .form_box label {
  font-family: outfit-medium;
  font-size: 18px;
}
.contact .form_box input {
  border: 2px solid #282a37;
}
.contact .form_box textarea {
  border: 2px solid #282a37;
}
.contact .form_box button {
  background-color: #bd8a32;
  font-size: 18px;
  font-family: 16px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.contact .form_box button a {
  text-decoration: none;
  color: white;
  font-family: 16px;
  font-weight: 500;
}

.fixed-btn {
  position: fixed;
  bottom: 3px;
  right: 0px;
  z-index: 1000;
}
.fixed-btn button {
  background-color: #bd8a32;
  font-size: 18px;
  font-family: 16px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.fixed-btn button a {
  text-decoration: none;
  color: white;
  font-family: 16px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */